POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public
APP_DB_USER=postgres
APP_DB_PASSWORD=postgres
APP_DB_SCHEMA=public
